body{
    background:yellow;
}

table{
    border:1px;
    border-color:black;
}

h1{
    color:red;
}

.hover-white {
    transition: color 0.2s ease-in-out;
}

.hover-white:hover {
    color: #ffffff !important;
}